---
---

@import "{{ site.theme }}";

.page-header{
  background-image: url('header.jpg.html');
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.5;
  color: $body-text-color;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 0.75rem;
      border: 1px solid $table-border-color;
      font-size: 9.5px;
    }
  }
